.section1__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    height: 100vh;
}
.section1__content-right {
    width: 50%;
    height: 100vh;

}
.section1__content-right img {
    height: 300px;
    padding-top: 50px;
}
.section1__content-left {
    width: 50%; 
}
.main__content {
    height: 100vh;
}
.main__card--container {
    display: flex;
    flex-wrap: wrap;
}
.About-me {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}
.about-me__img {
    width: 40%;
    padding-left: 50px;
}